# vscode files 
.vscode


# build files
**/build
 
# root files
**.root

# emacs file backups
**~
**\#**\#

#log files 
**.log 

# some folders in the 
sieve_simulation/data
sieve_simulation/exampleB1

# some files in the electron scattering simulation folder
simulate_electron_scattering/exampleB1
simulate_electron_scattering/data

# windows 'zone identifier' files
**:Zone.Identifier

# build files for electron scattering
simulate_electron_scattering/build
