g4mc/build
g4mc/run

# build files
simc_hrs/build
 
# root files
*.root

# emacs file backups
*~

# some folders in the 
sieve_simulation/build
sieve_simulation/data
sieve_simulation/exampleB1
*.log

# some files in the electron scattering simulation folder
simulate_electron_scattering/exampleB1
simulate_electron_scattering/data
simulate_electron_scattering/build 

# windows 'zone identifier' files
*:Zone.Identifier
